body {
  background: #eee;
  padding: 15px;
}

  #container-map
, #container-map-ukraine
, #container-map-world {
  bottom: 0.5%;
  padding: 1px 1px 1px 0;
  position: relative;
  top: 0.5%;
  height: 650px;
  width: 100%;
}
